
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out,
                transform 0.2s ease-in-out;
}

.cursor-dot {
    $size: 8px;
    width: $size;
    height: $size;
    background-color: $black;
}

.cursor-dot-outline {
    $size: 40px;
    width: $size;
    height: $size;
    border: 2px solid rgba($black, 0.5);
    // background-color: rgba($black, 0.3);
}
