
/* <!-- -------------------------------HEADER------------------------------------- --> */
.header {
  height: calc(100vh - 70px);
  @include respond-width($w-m-s){
    height: calc(80vh - 70px);
    min-height: 500px;
  }
  @include respond-width($w-s){
    height: auto;
    margin: 105px auto;
    min-height: 400px;
  }
  @include respond-width($w-xs){
    margin: 105px auto;
    min-height: 0px;
  }

}

.header-text {
  font-family: "OldStandardTT", serif;
  //font-family: "NeueHaasDisplay", serif;
  //font-family: "MonumentGrotestBold", serif;
  font-size: 144px;
  letter-spacing: -5px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  left: 0px;
  @include respond-width($w-l){
    font-size: 130px;
  }
  @include respond-width($w-m){
    font-size: 105px;
  }
  @include respond-width($w-m-s){
    font-size: 95px;
  }
  @include respond-width($w-s){
    top: 0px;
    transform: translate( 0px , 0px);
    font-size: 75px;
  }
  @include respond-width($w-xs){
    font-size: 60px;
  }
  .header-text-small{
    letter-spacing: 0px;
    font-size: 44px;
    @include respond-width($w-m){
      font-size: 39px;
    }
    @include respond-width($w-m-s){
      font-size: 27px;
    }
    @include respond-width($w-s){
      font-size: 15px;
    }
  }
}
