/* <!-- -------------------------------GENERAL------------------------------------- --> */

// @font-face {
//   font-family: "OldStandardTT";
//   src: url(../font/oldstandard.ttf);
// }
//
// @font-face {
//   font-family: "WorkSans";
//   src: url(../font/WorkSans-Light.ttf);
// }

@import "_config";
@import "_cursor";

html {
  width: 100%;
  overflow-x: hidden;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  // #cursorElement{
  //   @include respond-width($w-xs){
  //     display: none !important;
  //     opacity: 0 !important;
  //     z-index: -99 !important;
  //   }
  // }
}

body {
  cursor: none;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  color: $black;
}

#scrollContainer{
  margin: 0px;
  padding: 0px;
  will-change: transform;
}

#cursorElement{
  transition: ease all 0.1s;
  position:fixed;
  top:0;
  left:0;
  border-radius:100%;
  pointer-events:none;
  will-change: transform;
}

#firstAnimationOverlay{
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
  height: 100vh;
  background: $black;
  z-index: 99;
  pointer-events: none;
  transition: linear opacity 0.50s;
  &.hide{
    z-index: -1;
    opacity: 0;
    // height: 0px;
  }
}

// section{
//   // margin: 0px 13% ;
// }

.sections-wrapper{
  padding: 5% 13% ;
  @include respond-width($w-m-s){
    padding: 5% 5%;
  }
}

a{
  cursor: none;
}

a:link {
  text-decoration: none;
  color: #333333;
}

a:visited {
  color: #333333;
}


/* <!-- -------------------------------TOP MENU------------------------------------- --> */
.top-menu {
  font-family: "WorkSans";
  font-size: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 99;
  .menu-elements{
    // opacity: 0;
    padding: 5% 13% ;
    @include respond-width($w-m-s){
      padding: 5% 5%;
    }
    // &.animate-in{
    //   transition: ease all 0.3s;
    //   opacity: 1;
    // }
  }
  .contact-element{
    padding: 5px 0px;
  }

}

.menu-elements {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}
/* <!-- -------------------------------HEADER------------------------------------- --> */
.header {
  height: calc(100vh - 70px);
  @include respond-width($w-s){
    height: auto;
    margin: 105px auto;
  }

}

.header-text {
  font-family: "OldStandardTT";
  font-size: 144px;
  letter-spacing: -5px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  left: 0px;
  // &.animate-in{
  //   span{
  //     transition: linear all 0.5s;
  //     opacity: 1;
  //     &:nth-child(1){
  //       transition-delay: 0.15s;
  //     }
  //     &:nth-child(2){
  //       transition-delay: 0.3s;
  //     }
  //     &:nth-child(3){
  //       transition-delay: 0.45s;
  //     }
  //   }
  // }
  @include respond-width($w-l){
    font-size: 130px;
  }
  @include respond-width($w-m){
    font-size: 105px;
  }
  @include respond-width($w-m-s){
    font-size: 95px;
  }
  @include respond-width($w-s){
    top: 0px;
    transform: translate( 0px , 0px);
    font-size: 75px;
  }
  span{
    // opacity: 0;
    // &:nth
  }
}

/* <!-- -------------------------------ABOUT------------------------------------- --> */
.about {
  font-family: "WorkSans";
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  margin-top: 120px;
}
.about-header {
  width: 15%;
}

.about-text {
  width: 50%;
  text-transform: uppercase;
}

/* <!-- -------------------------------SKILLS------------------------------------- --> */
.skills {
  font-family: "WorkSans";
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  margin-top: 120px;
  margin-bottom: 120px;
}

.skills-header {
  width: 15%;
}

.skills-text {
  width: 50%;
  text-transform: uppercase;
}

/* <!-- -------------------------------IMG------------------------------------- --> */

.img {
  position: relative;
  margin-bottom: 120px;
  overflow: hidden;
  max-width: 100%;
  // width: 1040px;
  height: 1200px;
  @include respond-width($w-xl){
    height: 1100px;
  }
  @include respond-width($w-l){
    height: 1000px;
  }
  @include respond-width($w-m){
    height: 780px;
  }

  .portfolio-img{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    will-change: z-index;
    transition: linear all 0.1s;
  }
}

/* <!-- -------------------------------PROJECTS------------------------------------- --> */

.project{
  margin-bottom: 100px;
.project-title{
  &:hover{
    .project-stack{
      span{
        opacity: 1;
      }
    }
  }
}
  .project-name{
    font-family: "OldStandardTT";
    font-size: 80px;
    margin-top: 0px;
    width: 600px;
    display: inline-block;
    line-height: 100%;
  }
  .project-position,
  .project-stack{
    font-family: "WorkSans";
    font-size: 15px;
    text-transform: uppercase;
    // top: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .project-position{
    margin-bottom: 20px;
  }
  .project-stack{
    span{
      transition: ease opacity 0.2s;
      opacity: 0;
      &:before{
        content: '|';
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 4px;
      }
      &:nth-child(1):before{
        content: none;
      }
      &:nth-child(1){
        transition-delay: 0.05s;
      }
      &:nth-child(2){
        transition-delay: 0.1s;
      }
      &:nth-child(3){
        transition-delay: 0.15s;
      }
      &:nth-child(4){
        transition-delay: 0.20s;
      }
      &:nth-child(5){
        transition-delay: 0.25s;
      }
    }
  }
}
/* <!-- -------------------------------CONTACT------------------------------------- --> */
.contact {
  font-family: "WorkSans";
  font-size: 15px;
  margin-left: 50%;
}

.contact-number {
  margin: 0px;
}

.contact-mail {
  margin: 0px;
}

.social-media {
  margin-top: 20px;
}

.linkedin {
  margin-right: 20px;
}

.github {
  margin-right: 20px;
}

/* <!-- -------------------------------RIGHTS------------------------------------- --> */
.rights {
  font-family: "WorkSans";
  font-size: 15px;
  margin-left: 50%;
  margin-top: 120px;
  margin-bottom: 120px;
  text-transform: uppercase;
}

.right-mockups {
  margin: 0px;
}

.right-fonts {
  margin: 0px;
}

.right-design {
  margin: 0px;
}

/* <!-- -------------------------------YEAR FOOTER------------------------------------- --> */

.year-footer{
  svg{
    max-width: 100%;
    opacity: 1;
  }
}
