@import "_config";
@import "_cursor";
@import "_first-ani";

html {
  width: 100%;
  overflow-x: hidden;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  color: $black;
  background-color: $white;
  @include respond-width($w-xs){
    height: auto;
  }
}

#tkAnimationContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  pointer-events: none;
  z-index: -1;
}

#scrollContainer{
margin: 0px;
padding: 0px;
display: block;
position: relative;
}
#scrollableContainer{
will-change: transform;
}


#cursorElement{
  transition: ease all 0.1s;
  position:fixed;
  top:0;
  left:0;
  border-radius:100%;
  pointer-events:none;
  will-change: transform;
}

.menu-elements,
.sections-wrapper{
  padding: 5% 13% ;
  @include respond-width($w-m){
    padding: 5% 9%;
  }
  @include respond-width($w-m-s){
    padding: 5% 5%;
  }
  @include respond-width($w-s){
    padding: 5% 5%;
  }
}

a:link {
  text-decoration: none;
  color: #333333;
}

a:visited {
  color: #333333;
}


/* <!-- -------------------------------TOP MENU------------------------------------- --> */
.top-menu {
  font-family: "WorkSans" , sans-serif;
  font-size: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 99;
  pointer-events: none;
  @include respond-width($w-xs){
    font-size: 13px;
  }

  .contact-element{
    pointer-events: auto;
    padding: 0px 0px;
  }

  .available-wrapper{
    @include respond-width($w-xs){
       text-align: center;
    }
  }
  .available-txt{
    @include respond-width($w-xs){
      display: block;
    }
  }

}

.menu-elements {
  display: flex;
  justify-content: space-between;
}
/* <!-- -------------------------------HEADER------------------------------------- --> */
.header {
  height: calc(100vh - 70px);
  @include respond-width($w-m-s){
    height: calc(80vh - 70px);
    min-height: 500px;
  }
  @include respond-width($w-s){
    height: auto;
    margin: 105px auto;
    min-height: 400px;
  }
  @include respond-width($w-xs){
    margin: 105px auto;
    min-height: 0px;
  }

}

.header-text {
  font-family: "OldStandardTT", serif;
  font-size: 144px;
  letter-spacing: -5px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  left: 0px;
  @include respond-width($w-l){
    font-size: 130px;
  }
  @include respond-width($w-m){
    font-size: 105px;
  }
  @include respond-width($w-m-s){
    font-size: 95px;
  }
  @include respond-width($w-s){
    top: 0px;
    transform: translate( 0px , 0px);
    font-size: 75px;
  }
  @include respond-width($w-xs){
    font-size: 60px;
  }
}


/* <!-- -------------------------------SKILLS------------------------------------- --> */

.about,
.skills {
  font-family: "WorkSans" , sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  margin-top: 120px;
  margin-bottom: 120px;
  @include respond-width($w-xs){
    margin-bottom: 80px;
    margin-bottom: 80px;
  }
}

.about-header,
.skills-header {
  width: 15%;
  @include respond-width($w-xs){
    width: 25%;
  }
}

.about-text ,
.skills-text {
  width: 50%;
  text-transform: uppercase;
  @include respond-width($w-s){
    width: 70%;
  }
  @include respond-width($w-s){
    width: 75%;
  }

}

/* <!-- -------------------------------IMG------------------------------------- --> */

.img-slider-section {
  position: relative;
  margin-bottom: 120px;
  width: 100%;
  text-align: center;

  height: 1200px;
  @include respond-width($w-xl){
    height: 1100px;
  }
  @include respond-width($w-l){
    height: 1000px;
  }
  @include respond-width($w-m){
    height: 780px;
  }
  @include respond-width($w-s){
    height: 500px;
  }
  @include respond-width($w-xs){
    height: 325px;
  }

  .img-wrapper{
    position: relative;
  }

  .portfolio-img{
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

/* <!-- -------------------------------PROJECTS------------------------------------- --> */

.project{
  margin-bottom: 100px;
  .project-title{
    &:hover{
      .project-name{

      }
      .project-stack{
        span{
          opacity: 1;
        }
      }
      .project-name .comming span{
        opacity: 1;
      }
    }
  }
  .project-name{
    font-family: "OldStandardTT", serif;
    font-size: 80px;
    margin-top: 0px;
    width: 600px;
    display: inline-block;
    line-height: 100%;
    position: relative;
    @include respond-width($w-l){
      width: 550px;
      font-size: 75px;
    }
    @include respond-width($w-m){
      font-size: 65px;
      width: 400px;
    }
    @include respond-width($w-m-s){
      font-size: 60px;
      width: 450px;
    }
    @include respond-width($w-s){
      width: 100%;
    }
    @include respond-width($w-xs){
      font-size: 50px;
    }
    .comming{
      font-family: "WorkSans" , sans-serif;
      text-transform: uppercase;
      line-height: 12px;
      font-size: 16px;
      bottom: -15px;
      left: 0px;
      position: absolute;
      @include respond-width($w-s){
        // opacity: 1;
        font-size: 12px;
        position: relative;
        left: inherit;
        right: 0px;
        top: 0px;
        bottom: inherit;
      }
      span{
        transition: ease opacity 0.2s;
        opacity: 0;
        @include respond-width($w-m-s){
          opacity: 1;
        }
        &:nth-child(1){
          transition-delay: 0.25s;
        }
        &:nth-child(2){
          transition-delay: 0.30s;
        }
      }
    }
  }
  .project-position,
  .project-stack{
    font-family: "WorkSans" , sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include respond-width($w-xs){
      font-size: 13px;
      // width: 80%;
    }
  }
  .project-position{
    margin-bottom: 20px;
  }
  .project-stack{
    span{
      transition: ease opacity 0.2s;
      opacity: 0;
      @include respond-width($w-m-s){
        opacity: 1;
      }
      &:before{
        content: '|';
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 4px;
      }
      &:nth-child(1):before{
        content: none;
      }
      &:nth-child(1){
        transition-delay: 0.05s;
      }
      &:nth-child(2){
        transition-delay: 0.1s;
      }
      &:nth-child(3){
        transition-delay: 0.15s;
      }
      &:nth-child(4){
        transition-delay: 0.20s;
      }
      &:nth-child(5){
        transition-delay: 0.25s;
      }
      &:nth-child(6){
        transition-delay: 0.30s;
      }
    }
  }
}
/* <!-- -------------------------------CONTACT------------------------------------- --> */
.contact {
  font-family: "WorkSans" , sans-serif;
  font-size: 15px;
  margin-left: 50%;
  @include respond-width($w-xs){
    margin-left: 0%;
  }
}

.contact-number {
  margin: 0px;
}

.contact-mail {
  margin: 0px;
}

.social-media {
  margin-top: 20px;
  a{
    margin-right: 15px;
  }
}

.linkedin {
  margin-right: 20px;
}

.github {
  margin-right: 20px;
}

/* <!-- -------------------------------RIGHTS------------------------------------- --> */
.rights {
  font-family: "WorkSans" , sans-serif;
  font-size: 15px;
  margin-left: 50%;
  margin-top: 120px;
  margin-bottom: 120px;
  text-transform: uppercase;
  @include respond-width($w-xs){
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 0%;
  }
}

.right-mockups {
  margin: 0px;
}

.right-fonts {
  margin: 0px;
}

.right-design {
  margin: 0px;
}

/* <!-- -------------------------------YEAR FOOTER------------------------------------- --> */

.year-footer{
  font-family: "OldStandardTT", serif;
  text-align: center;
  font-size: 30vw;
  color: black;
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -1vw;
  .year-footer-c {
    position: absolute;
    top: 4vw;
    left: 0px;
    font-size: 10vw;
  }
  .year-footer-y{
    display: block;
    padding-left: 7vw;
  }
}
